/* 
    Alinha as linhas do container em relação ao eixo vertical. A propriedade só funciona se existir mais de 
    uma linha de flex-itens. Para isso o flex-wrap precisa ser wrap.

    Além disso o efeito dela apenas será visualizado caso o container 
    seja maior que a soma das linhas dos itens. 
    Isso significa que se você não definir height para o container, 
    a propriedade não influencia no layout.
*/

/* 
    align-content: stretch;
    -> Valor padrão, ele que faz com que os flex itens cresçam igualmente na vertical.
    
    align-content: flex-start;
    -> Alinha todas as linhas de itens ao início.
    
    align-content: flex-end;
    -> Alinha todas as linhas de itens ao final.
    
    align-content: center;
    -> Alinha todas as linhas de itens ao centro.
    
    align-content: space-between;
    -> Cria um espaçamento igual entre as linhas. Mantendo a primeira grudada no topo e a última no bottom.
    
    align-content: space-around;
    -> Cria um espaçamento entre as linhas. Os espaçamentos do meio são duas vezes maiores que o top e bottom.

*/


.stretch{
    align-content: stretch;
}

.flex-start {
	align-content: flex-start;
}

.flex-end {
	align-content: flex-end;
}

.center {
	align-content: center;
}

.space-between {
	align-content: space-between;
}

.space-around {
	align-content: space-around;
}

/* Flex Container */
.container {
	max-width: 420px;
	height: 300px;
	margin: 0 auto;
	display: flex;
	border: 1px solid #ccc;
	flex-wrap: wrap;
}
/* Flex Item */
.item {
	flex: 1;
	margin: 5px;
	padding: 0 10px;
	background: tomato;
	text-align: center;
	font-size: 1.5em;
}

h1 {
	text-align: center;
	margin: 20px 0 0 0;
	font-size: 1.25em;
	font-weight: normal;
}

body {
	font-family: monospace;
	color: #333;
}
